.DS_Store
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nav
*.out
main.pdf
*.ps
*.RST
*.snm
*.synctex.gz
*.toc
*.vrb
*.vtc
**.xdv
**.fls
**.fdb_latexmk
__latexindent_temp.tex